* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 400; }

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto; }

header {
  padding: 20px 0;
  border-bottom: 2px solid #f7f8fd;
  margin-bottom: 80px; }
  header .container .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    header .container .header_container .header_menu_container .menu_hamburguer {
      margin-right: 10px;
      display: none; }
    header .container .header_container .header_menu_container .logo {
      margin-right: 20px; }
    header .container .header_container .header_menu_container .header__navItems {
      text-decoration: none;
      color: #b6bcc8;
      margin: 0 15px;
      display: inline-block;
      border-bottom: 4px solid transparent; }
      header .container .header_container .header_menu_container .header__navItems:hover {
        border-bottom: 4px solid #ff7d1a; }
    header .container .header_container .header_profile_container {
      display: flex;
      align-items: center; }
      header .container .header_container .header_profile_container .profile {
        width: 50px;
        margin-left: 40px;
        cursor: pointer;
        border-radius: 100%; }
        header .container .header_container .header_profile_container .profile:hover {
          outline: 2px solid #ff7d1a; }
      header .container .header_container .header_profile_container .cart {
        cursor: pointer;
        font-size: 18px;
        color: #b6bcc8; }
        header .container .header_container .header_profile_container .cart:hover {
          color: #000; }

header .menu {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: opacity 1s;
  pointer-events: none; }
  header .menu .menu_container {
    transition: transform 1s;
    width: 70%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 20px; }
    header .menu .menu_container .close_menu {
      color: #68707d;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 40px; }
      header .menu .menu_container .close_menu:active {
        color: black; }
    header .menu .menu_container .menu_items {
      display: flex;
      flex-direction: column; }
      header .menu .menu_container .menu_items a {
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0; }

.menu_background--show {
  opacity: 0;
  pointer-events: unset; }

.menu_slide--show {
  transform: translateX(-100%); }

main .sub_shoes_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  main .sub_shoes_container .sub_shoe {
    width: 20%;
    border-radius: 15px;
    position: relative; }
    main .sub_shoes_container .sub_shoe img {
      width: 100%;
      vertical-align: top;
      border-radius: 15px; }
    main .sub_shoes_container .sub_shoe .transparent_bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      border-radius: 15px;
      cursor: pointer; }
main .buy_shoes .container {
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  main .buy_shoes .container .shoes_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .buy_shoes .container .shoes_container .main_shoe_image {
      width: 100%;
      margin-bottom: 30px; }
      main .buy_shoes .container .shoes_container .main_shoe_image img {
        width: 100%;
        vertical-align: top;
        border-radius: 15px; }
    main .buy_shoes .container .shoes_container .transparent_bg:hover {
      background: rgba(255, 237, 224, 0.6); }
  main .buy_shoes .container .text_container {
    width: 40%; }
    main .buy_shoes .container .text_container .subtitle {
      color: #ff7d1a;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 10px; }
    main .buy_shoes .container .text_container .title {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 40px; }
    main .buy_shoes .container .text_container .description {
      color: #68707d;
      margin-bottom: 30px; }
    main .buy_shoes .container .text_container .price_container {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px; }
      main .buy_shoes .container .text_container .price_container .up {
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        main .buy_shoes .container .text_container .price_container .up .price {
          color: black;
          font-size: 24px;
          font-weight: 700;
          margin-right: 10px; }
        main .buy_shoes .container .text_container .price_container .up .percentage {
          color: #ff7d1a;
          font-weight: 700;
          background: #ffede0;
          padding: 2px 4px;
          border-radius: 5px; }
      main .buy_shoes .container .text_container .price_container .down {
        color: #b6bcc8;
        font-size: 14px;
        text-decoration: line-through; }
    main .buy_shoes .container .text_container .buttons_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 50px; }
      main .buy_shoes .container .text_container .buttons_container .add_remove_item_container {
        display: flex;
        justify-content: space-between;
        width: 30%;
        height: 100%;
        background: #f7f8fd;
        border-radius: 10px;
        align-items: center;
        padding: 0 10px; }
        main .buy_shoes .container .text_container .buttons_container .add_remove_item_container .subtract,
        main .buy_shoes .container .text_container .buttons_container .add_remove_item_container .add {
          color: #ff7d1a;
          font-weight: 700;
          font-size: 24px;
          cursor: pointer; }
        main .buy_shoes .container .text_container .buttons_container .add_remove_item_container .quantity {
          color: black;
          font-weight: 700; }
      main .buy_shoes .container .text_container .buttons_container .add_to_cart_container {
        width: 60%;
        height: 100%; }
        main .buy_shoes .container .text_container .buttons_container .add_to_cart_container .add_btn {
          width: 100%;
          height: 100%;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          color: #fff;
          font-weight: 700;
          background: #ff7d1a;
          box-shadow: 0px 8px 10px rgba(255, 125, 26, 0.3);
          cursor: pointer; }
          main .buy_shoes .container .text_container .buttons_container .add_to_cart_container .add_btn:hover {
            opacity: .7; }
          main .buy_shoes .container .text_container .buttons_container .add_to_cart_container .add_btn i {
            margin-right: 10px; }

main .shoes_overview {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  transform: scale(0);
  transition: transform .5s;
  z-index: 100000; }
  main .shoes_overview .container {
    display: flex;
    flex-direction: column;
    width: 500px; }
    main .shoes_overview .container .close_modal {
      display: flex;
      justify-content: end; }
      main .shoes_overview .container .close_modal .close_modal_btn {
        margin-bottom: 20px;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        border: none;
        background: none;
        cursor: pointer; }
        main .shoes_overview .container .close_modal .close_modal_btn:active {
          color: #ff7d1a; }
    main .shoes_overview .container .carousel_container {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;
      width: 100%;
      margin-bottom: 30px; }
      main .shoes_overview .container .carousel_container .carousel {
        width: 100%;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        border-radius: 15px; }
        main .shoes_overview .container .carousel_container .carousel .image {
          min-width: 100%; }
          main .shoes_overview .container .carousel_container .carousel .image img {
            width: 100%;
            vertical-align: top; }
      main .shoes_overview .container .carousel_container .before,
      main .shoes_overview .container .carousel_container .next {
        padding: 15px 20px;
        border: none;
        background: #fff;
        color: #000;
        cursor: pointer;
        transition: all .3s ease;
        position: absolute;
        border-radius: 50%;
        font-size: 18px;
        text-align: center; }
        main .shoes_overview .container .carousel_container .before:active,
        main .shoes_overview .container .carousel_container .next:active {
          color: #ff7d1a; }
      main .shoes_overview .container .carousel_container .before {
        left: -24px; }
      main .shoes_overview .container .carousel_container .next {
        right: -24px; }
    main .shoes_overview .container .modal_transparent_bg {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      position: absolute;
      top: 0;
      cursor: pointer; }

.show--transparency {
  background: rgba(255, 237, 224, 0.5);
  border: 2px solid #ff7d1a; }

.modal--show {
  transform: scale(1);
  transition: transform 1s; }

header {
  margin-bottom: 0;
  border-bottom: none; }
  header .container {
    position: relative; }
    header .container .header_container .header_profile_container .shopping_cart_container {
      position: relative; }
      header .container .header_container .header_profile_container .shopping_cart_container .notification {
        background: #ff7d1a;
        border-radius: 20px;
        padding: 1px 5px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        position: absolute;
        z-index: 0;
        right: -10px;
        top: -10px;
        display: none; }
    header .container .cart_products {
      width: 400px;
      background: #fff;
      position: absolute;
      right: 0;
      margin-top: 10px;
      box-shadow: 0px 5px 15px rgba(182, 188, 200, 0.5);
      padding: 20px 0;
      z-index: 1000;
      transition: transform .3s;
      border-radius: 15px; }
      header .container .cart_products .cart_title {
        font-weight: 700;
        border-bottom: 1px solid #b6bcc8;
        padding-bottom: 20px;
        padding-left: 20px; }
      header .container .cart_products .product_checkout_container {
        padding: 20px; }
        header .container .cart_products .product_checkout_container .product_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          overflow: hidden;
          display: none; }
          header .container .cart_products .product_checkout_container .product_container .product_image {
            width: 20%;
            border-radius: 5px; }
            header .container .cart_products .product_checkout_container .product_container .product_image img {
              width: 100%;
              vertical-align: top;
              border-radius: 5px; }
          header .container .cart_products .product_checkout_container .product_container .product_description {
            display: flex;
            flex-direction: column;
            color: #68707d; }
            header .container .cart_products .product_checkout_container .product_container .product_description .product_total {
              display: flex; }
              header .container .cart_products .product_checkout_container .product_container .product_description .product_total .shoes_price,
              header .container .cart_products .product_checkout_container .product_container .product_description .product_total .x_icon,
              header .container .cart_products .product_checkout_container .product_container .product_description .product_total .shoes_amount {
                margin-right: 8px; }
              header .container .cart_products .product_checkout_container .product_container .product_description .product_total .total {
                color: black;
                font-weight: 700; }
          header .container .cart_products .product_checkout_container .product_container .delete_icon_container .delete_icon {
            color: #b6bcc8;
            cursor: pointer; }
            header .container .cart_products .product_checkout_container .product_container .delete_icon_container .delete_icon:active {
              color: black; }
        header .container .cart_products .product_checkout_container .checkout_btn_container {
          display: none; }
          header .container .cart_products .product_checkout_container .checkout_btn_container .checkout {
            display: inline-block;
            width: 100%;
            background: #ff7d1a;
            text-align: center;
            padding: 15px 0;
            border-radius: 10px;
            color: white;
            text-decoration: none;
            font-weight: 700;
            margin-top: 30px; }
            header .container .cart_products .product_checkout_container .checkout_btn_container .checkout:active {
              opacity: .8; }
      header .container .cart_products .cart_message {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 100%; }
        header .container .cart_products .cart_message .message {
          font-weight: 700;
          font-size: 18px;
          color: #68707d; }

.cart--show {
  transform: scale(0); }

@media screen and (max-width: 800px) {
  header .container .header_container .header_menu_container .header__navItems {
    display: none; }
  header .container .header_container .header_menu_container .menu_hamburguer {
    display: inline-block;
    cursor: pointer; }

  main .buy_shoes .container {
    flex-direction: column;
    max-width: 1440px;
    width: 90%; }
    main .buy_shoes .container .shoes_container {
      display: none;
      transition: none; }
    main .buy_shoes .container .text_container {
      width: 100%; }
  main .shoes_overview {
    transform: none;
    background: none;
    display: block;
    position: static;
    width: 100%;
    margin-bottom: 30px; }
    main .shoes_overview .container {
      width: 90%;
      max-width: 1440px; }
      main .shoes_overview .container .close_modal {
        display: none; }
      main .shoes_overview .container .carousel_container .before {
        left: 3%; }
      main .shoes_overview .container .carousel_container .next {
        right: 3%; } }
@media screen and (max-width: 500px) {
  header .container .cart_products {
    width: 100%;
    top: 70px; } }

/*# sourceMappingURL=estilos.css.map */
